.body{
    margin:100px;
}

.artItem{
    width:100%;
}

.artImg{
    width:35%;
    float:left;
    height:500px;
    background-color:red;
}

.artImg img{
    width:100%;
    margin-top:20%;
    margin-bottom:20%;
}

.artName {
    width: 65%;
    height: 150px;
    float: left;
    background-color: yellow;
}

.artPrice {
    width: 65%;
    height: 150px;
    float: left;
    background-color: blue;
}

.orderBtn {
    width: 65%;
    height: 200px;
    float: left;
    background-color: green;
}
