.body{
    margin:100px;
}

body {
    background: url('../Images/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.artwork {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:10px;
    float:left;
    word-wrap:break-word;
    height:560px;
    background:rgba(255,255,255,0.2);
}

    .artwork:hover {
        transition: 0.3s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        background: rgba(255,255,255,1.0);
    }



.artworkimg img {
    width:90%;
    padding:15px;
    height:250px;
    display:inline-block;
}

.price {
    color: grey;
    font-size: 22px;
}

.btnAddToCart, .btnAddToWishlist {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.btnAddToCart {
    background-color: #239023;
}

    .btnAddToCart:hover, .btnAddToWishlist:hover {
        opacity: 0.7;
        transition: 0.5s;
    }

.categoryFilter {
    background-color: rgba(89,89,89,0.5);
    width: 100%;
    height: 100px;
    padding: 20px;
}

.categoryFilterDdl {
    width:250px;
    height:30px;
    padding: 3px;
}

.txtSearchArtwork{
    height:23px;
    width:200px;
    margin-left:100px;
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Artist;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color: #f6f6f6;
        color:gray;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


.modals {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: red;
}

/* Modal Content */
.modal-contents {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#msg{
    padding:15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    padding:10px;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: gray;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 20px 16px;
    background: linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
    height: 70px;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background: linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
    height: 50px;
    color: white;
}

#myModal{
    background-color:rgba(89,89,89,0.3);
    height:50px;
    margin:10px;
}

.noResult{
    width:100%;
}