.body{
    margin:100px;
}

body {
    background: url('../Images/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.artItem{
    width:100%;
    height:600px;
    border:2px solid #d9d9d9;
}

.artImg{
    width:35%;
    float:left;
    height:400px;
}

.artImg img{
    width:90%;
    margin-top:20%;
    margin-bottom:20%;
    padding:20px;
    height:300px;
    border-radius:10%;
}

.artName {
    width: 65%;
    height: 100px;
    float: left;
}

    .artName p {
        margin-left:50px;
        font-size: 40px;
        color: black;
    }

.artPrice p {
    font-size: 25px;
    margin-left: 50px;
    color: #a6a6a6;
}

.artStock p{
    font-size:25px;
    color:#a6a6a6;
}

.artStock{
    width:35%;
    float:left;
    height:100px;
}

.artDesc p{
    font-size:20px;
    margin-left:50px;
    color:#333333;
}


.artPrice {
    width: 30%;
    height: 100px;
    float: left;
}

.artDesc{
    height:100px;
    float:left;
    width:65%;
}

.orderBtn {
    width: 65%;
    height: 200px;
    float: left;
}

.lblQty{
    margin-left:50px;
}

.txtQty{
    width:100px;
    height:35px;
}

.btnAddToCart {
    margin-left:200px;
    width:200px;
    height:40px;
    background-color:white;
    border:2px solid #d9d9d9;
    margin-top:50px;
}

.btnAddToCart:hover{
    color:white;
    background-color:black;
    transition:0.3s;
}