.body{
    margin:100px;
}

body {
    background: url('../Images/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.artwork {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:10px;
    float:left;
    word-wrap:break-word;
    height:630px;
    background:rgba(255,255,255,0.2);
}

    .artwork:hover {
        transition: 0.3s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        background: rgba(255,255,255,1.0);
    }



.artworkimg img {
    width:100%;
   
    height:300px;
}

.price {
    color: grey;
    font-size: 22px;
}

.btnAddToCart, .btnAddToWishlist {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

    .btnAddToCart:hover, .btnAddToWishlist:hover {
        opacity: 0.7;
        transition: 0.5s;
    }

.categoryFilter {
    background-color: rgba(242,242,242,0.6);
    width: 100%;
    height: 100px;
    padding:20px;
}

.categoryFilterDdl {
    width:250px;
    height:30px;
    padding: 3px;
}

.txtSearchArtwork{
    height:23px;
    width:200px;
    margin-left:100px;
}

.btnSearchArtwork{
    height:28px;
    width:80px;
    background-color:#ffffff;
    border:none;
}

.btnSearchArtwork:hover{
    transition:0.5s;
    background-color:black;
    color:white;
}


.modals {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: red;
}

/* Modal Content */
.modal-contents {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#msg{
    padding:15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    padding:10px;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: gray;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 20px 16px;
    background: linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
    height: 70px;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background: linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
    height: 50px;
    color: white;
}

#myModal{
    background-color:rgba(89,89,89,0.3);
    height:50px;
    margin:10px;
}

.noResult{
    width:100%;
}