.menuItemHover {
    padding: 15px;
    width: 250px;
    transition: 0.5s;
}

#logo {
    float: left;
    width: 10.5em;
    background: #CCCCCC;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0;
}

.primaryStaticMenu {
    background-color: transparent;
    float: right;
}

.primaryStaticMenuItem {
    width: 10em;
    background-color:white;
    border-width: 1px;
    border-color: #efefef #aaab9c #ccc #efefef;
    border-style: solid;
    color: black;
    padding: 0.5em 0 0.5em 1em;
}

.primaryStaticHover {
    color: #800000;
    background: #f0e7d7;
}

.primaryDynamicMenu {
    background-color: #f7f2ea;
    border-bottom: solid 1px #ccc;
    border-top: 2px solid lightgrey;
}

.primaryDynamicMenuItem {
    width: 10em;
    background-color: white;
    color: #777;
    padding: 0.5em 0 0.5em 1em;
    border-width: 1px;
    border-color: #f7f2ea #aaab9c #f7f2ea #efefef;
    border-style: solid;
}

.primaryDynamicHover {
    color: #800000;
    background: #f0e7d7;
}
.borderline {
    border-top: 1px solid lightgrey;
}

.secondaryLevelOne {
    background-color: transparent;
    background-repeat: repeat-x;
    margin: 1.5em 0 0 0;
    padding: 5px 0 0 5px;
    width: 12em;
    height: 35px;
}

.secondaryLevelTwo {
    background: #FAFBFB;
    padding: 5px 0 5px 5px;
}

.secondaryStaticHover {
    color: #800000;
}

body {

    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:80px;
}

@media screen and (max-width: 1400px) {
    body{
        overflow: auto;
        width: 1400px;
    }
}

.logo {
    width: 15%;
    float:left;
    height: 70px;
    background-image: url('../Images/logo2.png');
    background-color:#ffffff;
    background-size: 170px 85px;
    background-repeat: no-repeat;
    background-position:center;
}

.navBar1 {
    width: 20%;
    height: 70px;
    background-color: white;
    margin: 0;
    float: left;
}

.navBar2 {
    width: 45%;
    height: 70px;
    float: right;
    background-color: white;
}

.navBar2 a {
    text-decoration: none;
    color:black;
}

.navBar2 td{
    padding-top:28px;
}

    .navBar2 a:hover {
        color: gray;
        padding-bottom:8px;
        border-bottom: 2px solid lightgrey;
    }

.navBar1 td {
    padding:0px;
    padding-left: 40px;
    padding-top:30px;
    padding-bottom:20px;
}

#form1 {
    margin: 0;
}

.navBar1 td:hover, .login:hover, .signup:hover, .signout:hover{
    color: black;
    transition: 0.5s;
}

.login{
    height:70px;
}

.navBar1 td, .login, .signup, .signout {
    position: relative;
}


.navBar1 td:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
    margin-left: -40px;
}

#navBar {
   
    height: 78px;
    border:0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 0px 3px 6px 6px rgba(204,204,204,0.5);
}

.login:before, .signup:before, .signout:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
    transition: 0.5s;
}


.navBar1 td:hover:before, .login:hover:before, .signup:hover:before, .signout:hover:before {
    transform: scaleX(1);
}


.textbox {
    padding: 8px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius:2px;
    box-sizing:border-box;
    margin-left: 50px;
    width: 250px;
    background-image:url("../Images/search.png");
}

.addtocart img {
    width: 100%;
    height: 65px;
    transform: scale(0.6);
}

    .addtocart:hover {
        background-color: #cccccc;
        transition:0.5s;
    }

.wishlist img{
    width:100%;
    height:65px;
    transform: scale(0.6);
}

.wishlist:hover {
    background-color: #cccccc;
    transition: 0.5s;
}

.profileimg img {
    width: 100%;
    height: 65px;
    transform: scale(0.6);
}

.profileimg{
    width:100%;
    height:65px;
}

    .profileimg:hover {
        background-color: #cccccc;
        transition: 0.5s;
    }

/*test*/
#nav #main-menu ul li {
    list-style-type: none;
    float: left;
    margin-right: 46px
}

@media screen and (max-width: 1220px) {
    #nav #main-menu ul li {
        list-style-type: none;
        float: left;
        margin-right: 20px
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}