body {
    margin:0;
}

.navBar1 {
    width: 55%;
    height:80px;
    background-color:red;
    margin:0;
    float:left;
}

.navBar2{
    width:30%;
    height:80px;
    float:left;
}

.navBar1 td {
    padding: 20px;
    padding-left: 150px;
    width:33%;
}

#form1{
    margin:0;
}

.logo{
    width:15%;
    float:left;
    height:80px;
}

.navBar1 td:hover{
    background:#cccccc;
    color:white;
    transition:0.5s;
}

.navBar1 td{
    position: relative;
}

.navBar1 td:before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    bottom: 0px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
    margin-left:-150px;
}

.navBar1 td:hover:before {
    transform: scaleX(1);
}
