
.menuItemHover {
    padding: 15px;
    width: 250px;
    transition: 0.5s;
}

body {

    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:80px;
    z-index:10;
}

@media screen and (max-width: 1400px) {
    body{
        overflow: auto;
        width: 1400px;
    }
}

.logo {
    width: 15%;
    float:left;
    height: 70px;
    background-image: url('../Images/logo2.png');
    background-color:#ffffff;
    background-size: 170px 85px;
    background-repeat: no-repeat;
    background-position:center;
}

.navBar1 {
    width: 20%;
    height: 70px;
    background-color: white;
    margin: 0;
    float: left;
}

.navBar2 {
    width: 45%;
    height: 70px;
    float: right;
    background-color: white;
}

.navBar2 a {
    text-decoration: none;
    color:black;
}

.navBar2 td{
    
}

.navBar2 a:hover{
    color:white;
    transition:0.5s;
}

.navBar1 td {
    padding: 16px;
    padding-left: 40px;
    padding-top:30px;
    padding-bottom:20px;
}

#form1 {
    margin: 0;
    transform: translateZ(0);
}

.navBar1 td:hover, .login:hover, .signup:hover, .signout:hover{
    background: #cccccc;
    color: white;
    transition: 0.5s;
}

.login{
    height:70px;
}

.navBar1 td, .login, .signup, .signout {
    position: relative;
}


.navBar1 td:before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    bottom: 0px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
    margin-left: -40px;
}

#navBar {
   
    height: 70px;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 6px 6px rgba(204,204,204,0.5);
}

.login:before, .signup:before, .signout:before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    bottom: 0px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
    transition: 0.5s;
}


.navBar1 td:hover:before, .login:hover:before, .signup:hover:before, .signout:hover:before {
    transform: scaleX(1);
}


.textbox {
    padding: 8px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    margin-left: 50px;
    width: 250px;
    background-image:url("../Images/search.png");
}

.textbox:hover{
    transition:0.5s;
    background-color:#f2f2f2;
}

.addtocart img {
    width: 100%;
    height: 65px;
    transform: scale(0.6);
}

    .addtocart:hover {
        background-color: #cccccc;
        transition:0.5s;
    }

.wishlist img{
    width:100%;
    height:65px;
    transform: scale(0.6);
}

.wishlist:hover {
    background-color: #cccccc;
    transition: 0.5s;
}

.profileimg img {
    width: 100%;
    height: 65px;
    transform: scale(0.6);
}

.profileimg{
    width:100%;
    height:65px;
}

    .profileimg:hover {
        background-color: #cccccc;
        transition: 0.5s;
    }

