.body {
    margin: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: url('../Images/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wishlistImg img{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:50px;
    width:80%;
    height:200px;

}

.wishlistItem{
    height:250px;
    border-bottom:2px solid #d9d9d9;
    margin-bottom:20px;
    padding:20px;
}

.wishlistImg {
    width: 30%;
    height:250px;
    float: left;
}

.wishlistDesc{
    width:55%;
    float:left;
    margin-top:80px;
}

.removeWishlist{
    width:15%;
    float:left;
}

.btnRemoveWishlist{
    background-color:white;
    color:black;
    transition:0.5s;
    width:100%;
    height:50px;
    border:none;
    margin-top:70px;
    border:1px solid #d9d9d9;
    
}

.btnRemoveWishlist:hover {
    background-color:black;
    color:white;
}




